<%- include('../partials/header') %>
<h1 class="h1-kanto">Kanto Pokémon:</h1>
<div class="allPokemon">
    <% pokemon.forEach(function(pokemon, idx) { %>
        <div class="pokemon-container">
            <form action="/pokemon" method="POST">
                <div class="poke-name"> <%=pokemon.species.name%> </div> 
                <div class="poke-type"> 
                    <strong>Pokemon Type:</strong>
                    <%=pokemon.types[0].type.name%>
                </div>
                <input type="hidden" name="name" value=" <%=pokemon.species.name %>" />
                <input type="hidden" name="pokemonID" value=" <%=pokemon.id %>" />
                <input type="hidden" name="img" value=" <%=pokemon.sprites.other['official-artwork'].front_default %>" />
                <input type="hidden" name="type" value=" <%=pokemon.types[0].type.name %>" />
                <img class="pokeImg" src="<%= pokemon.sprites.other['official-artwork'].front_default %>" alt="Pokemon">
                <div class="btn-vault-container">
                    <button class="vault-btn">Add To Vault</button>
                </div> 
            </form>
        </div>
        <% }); %>
    </div>
<%- include('../partials/footer') %>