<%- include('../partials/header') %>
<% pokemon.forEach(function(pokemon, idx) { %>
    <!-- <div><%= pokemon.name%></div> -->
    <!-- <link rel="stylesheet" href="stylesheets/style.css"> -->

       <form action="/pokemon" method="POST">
        <div>
            <%= pokemon.species.name %>
            <%= pokemon.types[0].type.name %>
            <input type="hidden" name="name" value=" <%=pokemon.species.name %>" />
            <input type="hidden" name="pokemonID" value=" <%=pokemon.id %>" />
            <input type="hidden" name="img" value=" <%=pokemon.sprites.other['official-artwork'].front_default %>" />
            <input type="hidden" name="type" value=" <%=pokemon.types[0].type.name %>" />
            <img class="pokeImg" src="<%= pokemon.sprites.other['official-artwork'].front_default %>" alt="Pokemon">
        </div>
        <button>Add To Vault</button>
    </form>
    <!-- </div> -->

<% }); %>


<%- include('../partials/footer') %>