<%- include('../partials/header') %>
<div>

    <% pokemon.forEach(function(p) { %>
        <div><%= p.name %></div>
        <div>
           <img src="<%= pokemon.sprites.other['official-artwork'].front_default %>" alt="Pic"> 
        </div>
        <div><%= p.type %></div>
        <form action="/pokemon/<%= p._id %>?_method=DELETE" method="POST"> 
            <button>Remove</button>
        </form>
    <% }); %>
</div>


<%- include('../partials/footer') %>
