<%- include('../partials/header') %>
    <div class="vault">
        <!-- <h1><%= user.name %></h1> -->
        <% pokemon.forEach(function(p) { %>
            <div class="pokemon-container-vault">
                <div class="poke-name">
                    <%= p.name %>
                </div>
                <div>
                    <img src="<%= p.img %>" alt="Pic">
                </div>
                <div class="poke-type">
                    <strong>Pokemon Type:</strong>
                    <%= p.type %>
                </div>
                <form action="/pokemon/<%= p._id %>?_method=DELETE" method="POST">
                    <div class="remove-btn-container">
                        <button class="remove-btn">Remove</button>
                    </div> 
                </form>
            </div>
            <% }); %>
    </div>
 <%- include('../partials/footer') %>